<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Promobank</title>
    <link rel="icon" type="image/png" href="{{ asset ('img/logotrans.png') }}" />
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('css/agency.css') }}" rel="stylesheet">
    <!-- fuentes -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Montserrat:400,700') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Kaushan+Script') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700') }}" rel="stylesheet" type="text/css">

</head>
<body id="page-top" class="index">

    <!-- navegador -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand/toggle mobilidad de la página -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="{{ asset('img/logopromo.png') }}" style="height: 200%;padding:0;"></a>
            </div>

            <!--navbar sección -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">NOSOTROS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">SERVICIOS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">CLIENTES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACTO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://extranet.promobank.cl/" target="_blank">TRACKING DNA</a>
                    </li>
                  {#<li>
                        <a class="page-scroll" href="http://www.promobank.cl">TRACKING MNG</a>
                    </li>#}
 
                </ul>
            </div>
            <!-- fin navbar-collapse-->
        </div>
        <!-- fin container-fluid -->
    </nav>

    <!-- header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">promobank</div>
                <div class="intro-lead-in">Delivery Bancario</div>
                <a href="#about" class="page-scroll btn btn-xl">LEER MÁS</a>
            </div>
        </div>
    </header>

    <!-- Sección nosotros -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nosotros !</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ asset('img/monetto.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel"><br><br>
                                <div class="timeline-heading">
                                    <h4>1997 - Actualmente</h4>
                                </div>
                                <div class="timeline-body"><br>
                                    <p class="text-muted">Mario Onetto en Septiembre de 1997, emprendió el desafío de satisfacer una necesidad de la banca nacional: La administración eficiente de la distribución del parque de productos financieros.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row"><br><br><br>
                <hr class="featurette-divider" style="border-color: #dbdbdb;border-width: 1px;">
                <div class="col-lg-3"></div>  
                <div class="col-lg-6">
                    <p style="color:#0099bf">NUESTRA VISIÓN</p> <p>Es consolidarnos como líderes en la distribución de productos financieros. Destacándonos con un sello único en Cumplimiento y Satisfacción al cliente final, con estándares de calidad en toda su cadena de procesos y preservando fielmente los valores que representan la imagen de nuestros clientes.</p>
                    <p style="color:#0099bf">NUESTRA MISIÓN</p> <p>Es crear una organización sustentable en el tiempo, basada en proveer alta calidad de su servicio, una empresa innovadora que mira hacia el futuro, que logra tener un equipo de personas comprometidas, talentosas y que día a día trabajan por ser reconocidas por aportar a una empresa líder del mercado por su eficiencia, confiabilidad y credibilidad.</p>
                     <hr class="featurette-divider" style="border-color: #dbdbdb;border-width: 1px;">
                     <p style="color:#666"><strong>NUESTROS VALORES</strong></p><br>
                    <p style="color:#0099bf">CONFIANZA Y CREDIBILIDAD</p><p>Cultivamos nuestra relación comercial con integridad, asumiendo un rol proactivo, responsable y cumpliendo sus compromisos.</p>
                    <p style="color:#0099bf">EXCELENCIA</p>Realizamos nuestro servicio con precisión, eficiencia y trabajo en equipo. Entregamos diariamente servicios de óptima calidad, enfocados en una atención del cliente personalizada.<p>
                    <p style="color:#0099bf">ÉTICA</p>Actuamos con profesionalismo integridad moral, lealtad y respeto a nuestros clientes, trabajadores y colaboradores.<p>
                    <p style="color:#0099bf">INNOVACIÓN Y MEJORA CONTINUA</p>Incentivamos nuestros procesos, incorporamos tecnología y capacitamos permanentemente a nuestro personal facilitando su desarrollo y compromiso con el servicio ofrecido por nuestra empresa.<p>
                </div>
                <div class="col-lg-3"></div>
            </div>    
        </div>
    </section>
                            
                             <!-- sección servicio -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Credibilidad y Confianza desde 1997.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse" data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">ADMINISTRACIÓN DE LA DISTRIBUCIÓN FÍSICA DE PRODUCTOS.</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse " data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">CONTACTO Y AGENDAMIENTO<br>DE CLIENTES.</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-history fa-stack-1x fa-inverse" data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">ACTUALIZACIÓN DE BBDD<br>CLIENTES.</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse" data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">REPRESENTACIÓN DE LA BANCA O INSTITUCIÓN FINANCIERA ANTE SUS CLIENTES.</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shield fa-stack-1x fa-inverse" data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">CUSTODIA DE PRODUCTOS<br>FINANCIAROS.</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-send fa-stack-1x fa-inverse" data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">RETIRO Y ENTREGA DE PRODUCTOS BANCARIOS Y FINANCIEROS.</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse" data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">OUTSOURSING DE EQUIPOS DE DISTRIBUCIÓN</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plus-square fa-stack-1x fa-inverse"data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">SERVICIO ESPECIALIZADO DE ATENCIÓN A BANCAS PRIVADAS, SELECT, PREMIUM, DE PERSONAS.</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"data-toggle="popover" data-trigger="hover" data-content="Consiste en la logística de los productos entregados por el banco, que despues seran entregados a ellos por nosotros" ></i>
                    </span>
                    <h4 class="service-heading">SERVICIO DE CONSUMO; MESA DE DINERO, INVERSIONES, SEGUROS, LEASING Y OTRAS FILIALES BANCARIAS.</h4>
                    <p class="text-muted"></p>
                </div>
            </div> <br><br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse" data-toggle="popover" data-trigger="hover" data-content="Servicio automatizado de doblado, ensobrado, embolsado, sellado y etiquetado de documentos, revistas, facturas, regalos y todo tipo de envíos.
                            Además realizamos procesos de mecanizado que requieren una mayor complejidad y personalización." ></i>
                    </span>
                    <h4 class="service-heading">SERVICIO DE MECANIZACIÓN</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-print fa-stack-1x fa-inverse"data-toggle="popover" data-trigger="hover" data-content="Impresión de estados de cuenta, cartolas, mailing, avisos de vencimiento, cartas de cobranza, etc., ya sea en formato fijo o variable.
                            Contamos con personal calificado y maquinaria laser de alto rendimiento.
                            Dicha información puede ser transmitida a nuestras dependencias vía e-mail o medios magnéticos, garantizando en todo momento la confidencialidad de esta información." ></i>
                    </span>
                    <h4 class="service-heading">SERVICIO DE IMPRESIÓN</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"data-toggle="popover" data-trigger="hover" data-content="Servicio Telefónico de confirmaciones o validaciones con tiempo máximo de 3 minutos, realizado por el departamento de Call Center con ejecutivas de atención de clientes, capacitadas y comprometidas con la calidad del servicio SEDEXPRESS." ></i>
                    </span>
                    <h4 class="service-heading">SERVICIO DE TELEMARKETING</h4>
                    <p class="text-muted"></p>
                </div>
            </div> <br><br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-barcode fa-stack-1x fa-inverse"data-toggle="popover" data-trigger="hover" data-content="Servicio de digitalización y escaneo masivo de documentos los cuales se dejan disponibles en la web con accesos controlados.
                            El cliente tiene distintas opciones de búsqueda de los documentos y en el caso de respaldos se envía la información en DVD." ></i>
                    </span>
                    <h4 class="service-heading">SERVICIO DE DIGITALIZACIÓN</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>

    <!-- sección clientes -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">clientes</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/bancodechile.png') }}" class="img-responsive" alt="">
                        <h4>BANCO DE CHILE</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/bancobice.png') }}" class="img-responsive" alt="">
                        <h4>BANCO BICE</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/bancointernacional.png') }}" class="img-responsive" alt="">
                        <h4>BANCO INTERNACIONAL</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/bancosecurity.png') }}" class="img-responsive" alt="">
                        <h4>BANCO SECURITY</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/bci.png') }}" class="img-responsive" alt="">
                        <h4>BANCO BCI</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/biceinversiones.png') }}" class="img-responsive" alt="">
                        <h4>BANCO BCI INVERSIONES</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/corpbanca.png') }}" class="img-responsive" alt="">
                        <h4>CORPBANCA</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/entel.png') }}" class="img-responsive" alt="">
                        <h4>ENTEL</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/bancos/itau.png') }}" class="img-responsive" alt="">
                        <h4>BANCO ITAÚ</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>

    <!-- sección contacto -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">contáctanos</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="nombre *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email*" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Teléfono *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="mensaje *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container" >
            <div class="row">
                <div class="col-md-4">
                    <p style="font-family:Tahoma, Arial, sans-serif;line-height:18px;margin-top: 2px;">Promobank Limitada &copy; 1997-2016<br>Todos los derechos reservados</p>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons" style="margin-top: 10px;">
                        <li>
                             <p style="font-family:Tahoma, Arial, sans-serif;line-height:18px;">Enrique Mac Iver #225 piso 10, of. 1001 - Santiago, Chile </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks" style="margin-top: 0px;">
                        <li class="fa fa-phone"><li style="font-family:Tahoma, Arial, sans-serif;line-height:18px;">+56 2 29458100</li></li>
                        <li class="fa fa-envelope"><li style="font-family:Tahoma, Arial, sans-serif;line-height:18px;">contacto@promobank.cl</li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
    </script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        
    <!-- Plugin JavaScript -->
    <script src="{{ asset('http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/classie.js') }}"></script>
    <script src="{{ asset('js/cbpAnimatedHeader.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ asset('js/contact_me.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('js/agency.js') }}"></script>

</body>

</html>
